AI路径规划.json
{
  "name": "AI路径规划",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -2608,
        720
      ],
      "id": "820f9bda-8ead-4e17-915b-873c58ceb759",
      "name": "DeepSeek Chat Model4",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -3856,
        928
      ],
      "id": "e5995200-1e2b-4fe1-8178-c4a59babcc9a",
      "name": "DeepSeek Chat Model5",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: Custom requirements must be related to computer learning.\",\n  \"data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        880
      ],
      "id": "75634d62-f63c-4579-a54b-f0754a6adba7",
      "name": "Format Input Error1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.customize }}",
        "messages": {
          "messageValues": [
            {
              "message": "=判断以下文本是否与计算机学习相关（仅回答“是”或“否”）： \"{{ $('Webhook').item.json.body.customize }}\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3952,
        704
      ],
      "id": "36a7fca0-457d-4b7d-bdf4-528f3b411f38",
      "name": "Computer learning-related or not1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($('Webhook').item.json.body.tasks) ||无 }}\n{{ $('Webhook').item.json.body.customize ||\"无\" }}\n{{ JSON.stringify($node['Subcategory Aggregate1'].json.data) }}",
        "options": {
          "systemMessage": "=【终极指令】原始数据精确匹配系统\n\n1. 输入数据规范：\n   - 核心需求：{{ $('Webhook').item.json.body.customize ||\"无\" }}\n   - 基础需求1：{{  JSON.stringify($('Webhook').item.json.body.tasks) ||无 }}\n   - 技能库数据：{{ JSON.stringify($node['Subcategory Aggregate1'].json.data) }}\n\n2. 铁律（优先级从高到低）：\n   ██ 核心需求权重占比70%\n   ██ 基础需求(tasks)占30%\n   ██ 任一字段为空时自动重新分配权重：\n       - 缺核心需求：基础需求升为100%\n       - 缺基础需求：核心需求升为100%\n\n3. 铁律（违反将报错）：\n   ██ 必须严格使用原始data数组中的对象\n   ██ 输出的id和title必须与下列技能库完全一致：\n   ██ 禁止任何形式的标题修改或创造\n\n4. 匹配流程：\n   1) 直接比对用户需求与每个title字段\n   2) 选择语义重合度最高的原始条目\n   3) 原样输出该条目的id和title\n\n5. 输出格式（严格JSON）：\n```json\n{\n  \"matchResult\": {\n    \"id\": //原始id,\n    \"title\": //原始title,\n    \"confidence\": 0-100,\n    \"matchBasis\": \"15字内原因\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2704,
        496
      ],
      "id": "6e3d136b-4008-4627-9c70-ffa8bf9e1e20",
      "name": "match subcategory skill id1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, subcategory_id FROM lc_skill;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2080,
        496
      ],
      "id": "edc380e1-4556-4b5d-819f-8f1019582218",
      "name": "Query skill1",
      "credentials": {
        "mySql": {
          "id": "AEQq3l2tfSzRRnC6",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1856,
        496
      ],
      "id": "dc1c0934-e542-44db-a149-7e4b9556cc9a",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1312,
        720
      ],
      "id": "03def0ed-4666-45cd-98b1-38aa21132922",
      "name": "DeepSeek Chat Model6",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 从输入数据中获取原始输出字符串\nconst rawOutput = $input.all()[0].json.output;\n\n// 处理可能存在的Markdown代码块标记\nlet jsonString = rawOutput.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// 修复特定的格式错误 - 处理错误的priority字段格式\njsonString = jsonString.replace(/\"priority\":\\s*\":\\s*\"(\\d+)\"/g, '\"priority\": \"$1\"');\n\ntry {\n  // 尝试解析为JSON\n  const parsedData = JSON.parse(jsonString);\n  \n  // 返回解析后的数据\n  return parsedData;\n} catch (error) {\n  // 如果解析失败，尝试修复常见的JSON格式问题\n  try {\n    // 处理可能的单引号问题\n    jsonString = jsonString.replace(/'/g, '\"');\n    \n    // 处理未转义的双引号\n    jsonString = jsonString.replace(/(\\w+):\\s*\"([^\"]*)\"/g, '\"$1\": \"$2\"');\n    \n    // 处理末尾可能的多余逗号\n    jsonString = jsonString.replace(/,\\s*}/g, '}').replace(/,\\s*]/g, ']');\n    \n    // 再次尝试解析\n    const fixedData = JSON.parse(jsonString);\n    return fixedData;\n  } catch (fixError) {\n    // 如果仍然失败，返回错误信息和原始JSON字符串以便调试\n    return {\n      error: `解析JSON失败: ${fixError.message}`,\n      position: fixError.message,\n      rawJson: jsonString\n    };\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        496
      ],
      "id": "0d79cbb7-2d15-4d3b-bfa8-9842b39ede1d",
      "name": "Data cleaning1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.customize ||\"无\"}}\n{{  JSON.stringify($('Webhook').item.json.body.tasks) || 无}}\n{{ JSON.stringify($json.skills) }}",
        "options": {
          "systemMessage": "=你是一名专业的职业发展顾问和技能导师。请根据以下信息为学习者生成个性化的技能提升路径：\n\n# 背景信息\n1. 技能点类别信息：{{ JSON.stringify($json.data) }}\n2. 当前学习者画像：{{ JSON.stringify($json.skills) }}\n3. 学习者需求：{{ $('Webhook').item.json.body.customize ||\"无\"}}\n4. 当前/历史学习任务：{{  JSON.stringify($('Webhook').item.json.body.tasks) || 无}}\n\n## 内容要求\n1. 必须严格按照技能点数据中每个技能点的实际ID和内容进行匹配，不得有任何偏差\n2. 禁止创造性解释：例如，不能将ID=31的HTML/CSS技能点用于描述\"性能优化体系\"\n3. 每个学习节点的标题和描述必须与其对应skillId的技能内容保持一致性\n4. 如果技能点数据中没有足够的技能点覆盖所需内容，宁可减少学习节点数量，也不要错误地使用不相关的技能点ID\n5. 结合学习者特别提出的需求({{ $('Webhook').item.json.body.customize ||\"无\"}})并对比学习者当前能力{{ JSON.stringify($json.skills) }}的差距，找出3-5个最需要提升的关键领域\n6. 考虑学习者已完成任务({{ JSON.stringify($('Webhook').item.json.body.tasks) || 无}})中展示的优势和不足\n7. 学习者需求，当前/历史学习路径两者不一定都提供，但会至少提供一个。当存在学习者需求时，以学习者需求为核心\n8. 路径应包含4-6个关键步骤，各步骤的顺序符合客观学习规律，从基础到进阶合理排列\n9. priority从1开始递增\n10. 在最终输出中必须包含skillId字段，确保每个节点都有正确的技能ID关联\n11. 在生成学习路径前，先仔细分析技能点数据中每个技能点的ID和对应内容，确保完全理解每个技能点的实际含义\n\n\n## 输出格式\n{\n    \"title\": \"学习路径标题\",\n    \"description\": \"学习路径描述\",\n    \"skillSubcategoryId\": \"{{ $('Extract Subcategory Id and Title1').item.json.id }}\",\n    \"numLike\": 0,\n    \"nodeBos\": [\n        {\n            \"title\": \"章节标题\",\n            \"description\": \"章节描述\",\n            \"skillId\": \"对应技能点的ID\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": \"1\"\n        }\n    ]\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1408,
        496
      ],
      "id": "128ebd13-2cdc-49fc-9b52-6365094d137c",
      "name": "Learning Path Framework1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "486c03f9-8af4-4288-8644-09cc0405ceae",
              "leftValue": "={{ $json.text }}",
              "rightValue": "是",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3472,
        800
      ],
      "id": "ac8b1adb-a6f9-4a89-8e73-b5acc82ec6c2",
      "name": "If Computer Learning-related1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2928,
        496
      ],
      "id": "662dd1ee-0820-4f76-bcb3-cefa220c5b32",
      "name": "Subcategory Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "// 精简版数据清洗节点\nconst rawOutput = $input.all()[0].json.output;\n\ntry {\n  // 提取纯JSON部分（自动处理```json标记）\n  const jsonString = rawOutput.replace(/```json|```/g, '');\n  const { matchResult } = JSON.parse(jsonString);\n\n  // 仅提取id和title\n  return [{\n    json: {\n      id: matchResult.id,\n      title: matchResult.title\n    },\n    pairedItem: $input.all()[0].pairedItem\n  }];\n} catch (error) {\n  return [{\n    json: {\n      error: `数据提取失败: ${error.message}`,\n      _invalidData: rawOutput.substring(0, 100) + '...' // 截取部分错误数据\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        496
      ],
      "id": "04e31353-9949-4f91-82fc-ced6a8fef14c",
      "name": "Extract Subcategory Id and Title1"
    },
    {
      "parameters": {
        "jsCode": "// 获取主输入数据\nconst mainInput = $('Webhook').first().json.body.skill || [];\n// 获取数据库查询结果\nconst dbData = $('Aggregate1').first().json.data || [];\n\n// 创建一个skill_id到数据库记录的映射\nconst skillMap = {};\ndbData.forEach(item => {\n  skillMap[item.id] = item;\n});\n\n// 处理skill数组\nlet updatedSkills = [];\nif (mainInput && Array.isArray(mainInput)) {\n  updatedSkills = mainInput.map(skillItem => {\n    // 复制原始技能项，但排除scoreTime字段\n    const { scoreTime, ...restSkillItem } = skillItem;\n    const updatedSkill = { ...restSkillItem };\n    \n    // 查找匹配的数据库记录\n    const dbItem = skillMap[skillItem.skill_id];\n    if (dbItem) {\n      // 添加数据库中的title和subcategory_id，但不覆盖原有数据\n      updatedSkill.skill_title = dbItem.title;\n      updatedSkill.subcategory_id = dbItem.subcategory_id;\n    }\n    \n    return updatedSkill;\n  });\n}\n\n// 返回处理后的数据，保持原始输入结构\nconst result = $input.first().json;\nresult.skills = updatedSkills;\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        496
      ],
      "id": "f9cbd1cf-be32-42eb-bd46-92b26018522a",
      "name": "CodeAggregateSkill1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1904,
        2352
      ],
      "id": "4e05c858-281c-4d61-af97-4a328773432e",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -4528,
        3728
      ],
      "id": "041fd2ee-0358-4d60-b30b-90151f042af2",
      "name": "DeepSeek Chat Model8",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -3456,
        1488
      ],
      "id": "a366b8db-97b0-4c41-b537-a621d4a78d18",
      "name": "DeepSeek Chat Model9",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: Input cannot be empty.\",\n  \"data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        144
      ],
      "id": "39222d15-74ea-4cdc-b942-310adcefdaa1",
      "name": "Empty Input1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.customize }}",
        "messages": {
          "messageValues": [
            {
              "message": "=判断以下文本是否与计算机学习相关（仅回答“是”或“否”）： \"{{ $('Webhook').item.json.body.customize }}\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3552,
        1264
      ],
      "id": "732e2c5b-7557-4ad3-ade4-3db3e0c0c629",
      "name": "Computer learning-related or not2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "486c03f9-8af4-4288-8644-09cc0405ceae",
              "leftValue": "={{ $json.text }}",
              "rightValue": "是",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3152,
        1264
      ],
      "id": "cc92b1e1-6a66-4024-8daf-57a573b4fbd8",
      "name": "If Computer Learning-related2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ff3524e-16c6-49e2-9b57-5f2559dd81d1",
              "name": "skillsList",
              "value": "={{ $json.body.skillMap }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4400,
        1152
      ],
      "id": "8b752605-013d-4134-a1f4-e31192bff33b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94cd2ea7-59e6-4170-8710-f2f1e4f46654",
              "leftValue": "={{ !$json.body.project }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4624,
        704
      ],
      "id": "8092801d-8326-4e11-aae2-3f4abca519a1",
      "name": "IfProject1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1dd3636-95bc-4a6b-b667-2c35cff33fb8",
              "leftValue": "={{ !$('Webhook').item.json.body.tasks &&  !$('Webhook').item.json.body.customize}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        496
      ],
      "id": "4eec1973-d896-4526-8431-0480efd38a30",
      "name": "IfInput1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad3f04c2-4087-4498-af73-b1a3ce570e63",
              "leftValue": "={{ !$('Webhook').item.json.body.customize }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4176,
        672
      ],
      "id": "421b7ac4-f5d0-4cca-bb7c-bf7f01c7bab2",
      "name": "IfCustomize2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cbfef20-e996-4521-957f-f886b90796e8",
              "leftValue": "={{ !$('Webhook').item.json.body.customize }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3872,
        1152
      ],
      "id": "50615601-6303-48f7-aa40-d653f75b18ba",
      "name": "IfCustomize3"
    },
    {
      "parameters": {
        "jsCode": "// 获取主输入数据\nconst mainInput = $('Webhook').first().json.body.skills || [];\n// 获取数据库查询结果\nconst dbData = $input.first().json.skillMap || [];\n\n// 创建一个skill_id到数据库记录的映射\nconst skillMap = {};\ndbData.forEach(item => {\n  skillMap[item.id] = item;\n});\n\n// 处理skill数组\nlet updatedSkills = [];\nif (mainInput && Array.isArray(mainInput)) {\n  updatedSkills = mainInput.map(skillItem => {\n    // 复制原始技能项，但排除scoreTime字段\n    const { scoreTime, ...restSkillItem } = skillItem;\n    const updatedSkill = { ...restSkillItem };\n    \n    // 查找匹配的数据库记录\n    const dbItem = skillMap[skillItem.skill_id];\n    if (dbItem) {\n      // 添加数据库中的title和subcategory_id，但不覆盖原有数据\n      updatedSkill.skill_title = dbItem.title;\n      updatedSkill.subcategory_id = dbItem.subcategory_id;\n    }\n    \n    return updatedSkill;\n  });\n}\n\n// 返回处理后的数据，保持原始输入结构\nconst result = $input.first().json;\nresult.skills = updatedSkills;\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        2960
      ],
      "id": "39b5f0d5-bf59-48eb-a20c-8fde4b3a9b59",
      "name": "CodeAggregateSkill2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.description }}\n{{ $json.skillSubcategoryId }}\n{{ $json.numLike }}\n{{ JSON.stringify($json.nodeBos) }}",
        "options": {
          "systemMessage": "=## 角色: JSON转换引擎\n\n你的唯一职责是接收输入JSON，调用工具，并严格按照规则输出一个增强后的JSON。禁止任何自然语言。\n\n## 1. 核心目标\n\n为输入`nodeBos`数组中的每一个`node`，通过工具调用和规则筛选，匹配1-2个学习资源，并构建一个增强后的完整学习路径JSON。\n\n## 2. 输入与工具\n\n*   **输入JSON**: `{{ JSON.stringify($json.nodeBos) }}`\n*   **工具**: `search_resources_by_skill_id(query: string)`\n\n## 3. 核心转换协议\n\n你必须并行处理所有`node`，并遵循以下规则集。\n\n### 3.1 资源选择协议 (应用于每个节点)\n\n对于每个`node`，你必须通过 `search_resources_by_skill_id(node.title+node.description)` 获取资源，然后应用以下优先级规则选择最终资源：\n\n*   **P1 - 理想匹配 (首选)**:\n    1.  **硬性过滤**: 资源`primary_skills`数组 **必须** 包含 `node.skillId`。\n    2.  **择优**: 从符合条件的资源中，选择1-2个与`node.priority`最匹配、内容相关性最高的（最好是一个视频加一个博客）。\n\n*   **P2 - 后备方案 (当P1无结果时)**:\n    1.  **触发**: 如果P1没有筛选出任何资源。\n    2.  **操作**: 回到**原始**工具查询结果中，直接选择内容相关性最高的1个资源。此规则确保每个节点至少有一个关联资源。\n\n### 3.2 字段映射军规 (绝对指令)\n\n将所有选定的资源，严格按照以下规则映射到`resources`数组中：\n\n*   `title`: `suggested_title`\n*   `description`: `description`\n*   `content`: `Main_Content` (或 `Main Content`)\n*   `location`: 视频为 `\"https://www.bilibili.com/video/\" + bvid`，文章为 `url`\n*   `pic`: `meta.coverImageUrl` (若无则为`\"\"`)\n*   `level`: `difficulty_level` (必须为数字)\n*   `genre`: 视频为 `1`, 文章为 `2`\n*   `inSite`: `2` (固定值)\n*   `skillId`: 当前处理的`node`的原始`skillId`\n*   `addition`: `JSON.stringify(meta)`\n\n### 3.3 最终聚合与总结 (`suggestResourceBos`)\n\n在处理完所有节点后，创建`suggestResourceBos`数组，其中包含一个对象：\n*   **title/description/content**: 基于所有节点的标题和内容，**简洁地总结**出一个综合性的标题、描述和概述。\n*   **skillId**: 所有原始`node.skillId`的逗号分隔字符串。\n*   **addition**: 包含一个`updateDate`键，值为当前的北京时间日期 (格式: \"YYYY-MM-DD\")。\n*   **其他字段**: 使用合理的静态值填充。\n\n## 4. 最终输出规则 (最高优先级)\n\n**【警告】: 你的输出必须是且只能是一个可被`JSON.parse()`成功解析的纯净JSON对象。**\n*   **禁止**任何文本前缀、后缀、注释、解释或Markdown标记 (```)。\n*   **如果遇到错误，必须尽力生成结构完整的JSON，而不是输出错误信息。**\n*   **直接返回最终的JSON对象作为你唯一的回答。**\n\n{\n  \"title\": \"{{ $json.title }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"skillSubcategoryId\": {{ $json.skillSubcategoryId }},\n  \"numLike\": {{ $json.numLike }},\n  \"nodeBos\": [\n    {\n      \"title\": \"原始节点title\",\n      \"description\": \"原始节点description\",\n      \"skillId\": \"原始skillId\",\n      \"numLike\": 0,\n      \"numUnlike\": 0,\n      \"priority\": 1,\n      \"resources\": [\n        /* ... 根据上述规则映射生成的资源对象 ... */\n      ]\n    }\n    /* ... 其他节点 ... */\n  ],\n  \"suggestResourceBos\": [\n    {\n      \"title\": \"总结出的综合资源标题\",\n      \"description\": \"总结出的综合资源描述\",\n      \"content\": \"总结出的综合资源概述\",\n      \"location\": \"/suggest/path-to-resource\",\n      \"pic\": \"/images/suggest-roadmap.png\",\n      \"level\": 2,\n      \"genre\": 2,\n      \"inSite\": 2,\n      \"skillId\": \"skillId1,skillId2,...\",\n      \"addition\": \"{\\\"updateDate\\\": \\\"YYYY-MM-DD\\\"}\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -2640,
        1808
      ],
      "id": "7de25df3-49ed-4999-976c-1fcbbf41ee7c",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "=models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2592,
        2128
      ],
      "id": "abf5b42a-410a-452d-a9b4-afec6940ec4d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "rEr4QKfc9fKcHID3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const node = $input.item.json;\n\n// 提取标题和描述，组合成文本\nconst text = `${node.title || \"\"} ${node.description || \"\"}`.trim();\n\n// 返回文本和完整的节点信息\nreturn {\n  text: text,  // 这个将传递给Embeddings节点\n  nodeInfo: node  // 保存节点信息以便后续使用\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        3184
      ],
      "id": "e8ea2c47-6291-4de6-ac63-a2bf1b4f25c9",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "根据一个具体的技能ID（skillId），从资源库中查询并返回一个或多个相关的学习资源（例如教学视频、技术文章）。当你需要为某个技能寻找学习资料时，必须调用本工具，并传入该技能的skillId。",
        "milvusCollection": {
          "__rl": true,
          "value": "recource_vector",
          "mode": "list",
          "cachedResultName": "recource_vector"
        },
        "topK": 5,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        -2544,
        1984
      ],
      "id": "fcb33044-5df1-40a0-8f3f-a08cd67ed1ec",
      "name": "search_resources_by_skill_id",
      "credentials": {
        "milvusApi": {
          "id": "wFc6M6SH2VtR60VW",
          "name": "Milvus account learning_resources"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst finalResults = [];\n\nfor (const item of items) {\n  let jsonString = item.json.output;\n\n  if (!jsonString || typeof jsonString !== 'string') {\n    finalResults.push({ json: { error: \"输入验证失败：未在数据中找到'output'字段，或该字段非字符串类型。\", data: item.json } });\n    continue;\n  }\n\n  const prefix = '```json\\n';\n  const suffix = '```';\n\n  if (jsonString.startsWith(prefix)) {\n    jsonString = jsonString.substring(prefix.length);\n  }\n\n  if (jsonString.endsWith(suffix)) {\n    jsonString = jsonString.substring(0, jsonString.lastIndexOf(suffix));\n  }\n\n  const cleanedString = jsonString.trim();\n\n  try {\n    const parsedJson = JSON.parse(cleanedString);\n    finalResults.push({ json: parsedJson });\n  } catch (e) {\n    finalResults.push({ \n      json: { \n        error: \"JSON解析错误：在移除首尾标记后，字符串内容依然无法解析为有效的JSON格式。\", \n        details: e.message, \n        cleanedString: cleanedString\n      } \n    });\n    continue;\n  }\n}\n\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        1792
      ],
      "id": "1f5a5c66-363a-4cd7-8f82-7260eacb8520",
      "name": "Code2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        496
      ],
      "id": "519ec030-f2ff-43a4-a470-6fa20a3ad9ee",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "jsCode": "// 假设上一个AI节点的输出是 [ { \"output\": \"```json\\n{...}\\n```\" } ]\n// $json.output 就拿到了那个被污染的字符串\nconst rawOutput = $json.output;\n\n// 如果AI没有返回任何东西，直接返回一个错误信息，方便排查\nif (!rawOutput) {\n  return [{ json: { error: \"上游AI节点没有返回任何输出。\" } }];\n}\n\n// 核心清洗步骤：\n// 使用正则表达式来查找并抽取出被`{`和`}`包裹的JSON内容\n// 这是最稳健的方法，能无视前后可能存在的任何字符，比如 ```json, ```, 空格, 换行符等\nconst jsonMatch = rawOutput.match(/\\{.*\\}/s);\n\n// 如果没找到匹配的JSON内容，也返回错误\nif (!jsonMatch || !jsonMatch) {\n  return [{ json: { error: \"在AI输出中未能找到有效的JSON对象。\", raw: rawOutput } }];\n}\n\n// jsonMatch 就是我们成功捕获的、纯净的JSON字符串\nconst cleanJsonString = jsonMatch;\n\ntry {\n  // 将这个纯净的JSON字符串，解析成一个真正的JSON对象\n  const finalJsonObject = JSON.parse(cleanJsonString);\n\n  // 将这个干净的JSON对象作为当前节点的输出\n  // 后续的节点就可以直接使用这里面的数据了\n  return [{\n    json: finalJsonObject\n  }];\n\n} catch (error) {\n  // 如果解析失败（说明LLM生成的JSON格式本身就有问题），返回详细错误信息\n  return [{ json: { error: \"解析JSON时出错，请检查AI生成的JSON格式是否正确。\", details: error.message, jsonString: cleanJsonString } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        496
      ],
      "id": "0a9672c1-a9ad-44ab-a93d-5332ab6fe918",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cb9500b-4672-40eb-8a9b-602652388dab",
              "name": "secondskillMap",
              "value": "={{ $('Webhook').item.json.body.secondskillMap }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        1152
      ],
      "id": "72a56808-f734-4864-9495-3fb2c8b451cd",
      "name": "二级技能"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3152,
        496
      ],
      "id": "b5641c63-b792-4b44-85c0-6e625b3ec716",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.7.10.203:5678/webhook/api/v1/learning-resource/Skillmatch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skillsList\": {{JSON.stringify($json.skillsList)}},\n  \"project\": {{JSON.stringify($('Webhook').item.json.body.project)}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4176,
        1152
      ],
      "id": "9d30f296-9a06-47fc-b03f-be4f640d289f",
      "name": "项目对应技能",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3OpbdSaTg1yNFBzm",
          "name": "Hollow Knight"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n{{ JSON.stringify($json.nodeInfo, null, 2) }}",
        "options": {
          "systemMessage": "=你是一位专业的**学习路径规划专家**。你的核心任务是根据输入的学习路径JSON，调用工具查询真实的学习资源，并对路径进行丰富和增强。\n\n**核心任务：**\n针对输入JSON中 `nodeBos` 数组里的**每一个学习节点**，你必须：\n1.  使用该节点的 `skillId` 作为关键参数，调用 search_resources_by_skill_id工具进行查询。\n2.  工具**可能会返回一个包含多个资源的列表**。你必须从这个列表中，根据节点的 `title` 和 `description`，智能**筛选出最匹配的一个**资源。\n3.  将筛选出的这个资源的字段，**严格地**映射到下方“输出格式”中定义的 `resources` 结构中。\n4.如果skillid没有匹配的，则选择合适的使用就行，保证resources数组别为空\n---\n\n**# 工具返回的数据格式示例**\n\n你的工具会返回两种可能的资源结构：\n\n**1. 视频资源 (B站)**\n```json\n[\n    {\n        \"data\": {\n            \"suggested_title\": \"Spring6 IoC容器：...\",\n            \"description\": \"视频讲解了Spring框架中依赖注入的两种方式...\",\n            \"Main_Content\": \"1. **依赖注入的两种方式**...\",\n            \"bvid\": \"BV1kR4y1b7Qc\",\n            \"difficulty_level\": 2,\n            \"primary_skills\": [\"54\", \"32\"],\n            \"meta\": {\n                \"coverImageUrl\": \"https://i0.hdslb.com/...\",\n                \"authorName\": \"尚硅谷\",\n                \"playCount\": 1323324\n            }\n        }\n    }\n]\n\n\n2. 文章资源 (博客)\n\n{\n    \"data\": [\n        {\n            \"suggested_title\": \"Python：Python学习总结\",\n            \"description\": \"介绍Python作为强类型语言的特点...\",\n            \"Main Content\": \"Javascript和Php是弱类型的...\",\n            \"url\": \"https://www.cnblogs.com/...\",\n            \"difficulty_level\": 2,\n            \"primary_skills\": [\"49\"],\n            \"meta\": {\n                \"UserName\": \"幸福框架\",\n                \"PublishTime\": \"2013-08-15T09:05:00\",\n                \"ViewTimes\": 78073\n            }\n        }\n    ]\n}\n\n# 处理规则与字段映射\n\n查询与筛选：\n\n必须使用 nodeBos[*].skillId 去调用工具。\n\n工具返回结果后，对比 nodeBos[*].title 和 description 与返回资源中的 suggested_title 和 description，选择语义上最相关的一个。\n\n字段精确映射：\n\ntitle <-- suggested_title\n\ndescription <-- description\n\ncontent <-- Main_Content 或 Main Content\n\nlocation <-- 如果是视频，则为 \"https://www.bilibili.com/video/\" + bvid；如果是文章，则为 url。\n\npic <-- meta.coverImageUrl (如果不存在，则为空字符串 \"\")。\n\nlevel <-- 必须直接使用工具返回的 difficulty_level 的值。\n\ngenre <-- 如果是视频资源(有bvid字段)，则为 1；如果是文章资源(有url字段)，则为 2。\n\ninSite <-- 统一设为 2。\n\nskillId <-- 保持为当前处理节点的原始 skillId。\n\naddition <-- 必须是资源中 meta 对象的JSON字符串化形式。\n\npriority <-- 保持为当前处理节点的原始 priority，如果原始输入中没有该字段，则默认为 1。\n\n数据完整性与错误处理：\n\n保持原始输入数据结构不变，仅在 nodeBos 的每个对象中新增 resources 数组。\n\n如果在筛选后没有找到合适的资源，或工具未返回任何结果，则 resources 不必须为一个空数组 []。\n\n最后，根据所有节点的 skillId 生成一个 suggestResourceBos。\n\n# 严格的输出格式\n\n你的最终输出必须是且仅是一个JSON对象，严格遵循此结构。\n\nGenerated json\n{\n    \"title\": \"{{ $json.nodeInfo.title }}\",\n    \"description\": \"{{ $json.nodeInfo.description }}\",\n    \"skillSubcategoryId\": {{ $json.nodeInfo.skillSubcategoryId }},\n    \"numLike\": {{ $json.nodeInfo.numLike }},\n    \"nodeBos\": [\n        {\n            \"title\": \"原始的节点title\",\n            \"description\": \"原始的节点description\",\n            \"skillId\": \"原始的skillId\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": \"原始的priority转为数字\",\n            \"resources\": [\n                {\n                    \"title\": \"从查询结果中映射的suggested_title\",\n                    \"description\": \"从查询结果中映射的description\",\n                    \"content\": \"从查询结果中映射的Main_Content\",\n                    \"location\": \"根据bvid或url拼接/映射的路径\",\n                    \"pic\": \"从查询结果中映射的meta.coverImageUrl\",\n                    \"level\": \"从查询结果中映射的difficulty_level\",\n                    \"genre\": \"根据资源类型判断(1或2)\",\n                    \"inSite\": 2,\n                    \"skillId\": \"当前节点对应的skillId\",\n                    \"addition\": \"查询结果中meta对象的JSON字符串\"\n                }\n            ]\n        }\n    ],\n    \"suggestResourceBos\": [\n        {\n            \"title\": \"综合资源标题（例如：Web前端开发高级进阶指南）\",\n            \"description\": \"一个综合性的、跨所有技能节点的学习资源描述\",\n            \"content\": \"该综合资源的概述，总结整个学习路径的要点\",\n            \"location\": \"/suggest/path-to-comprehensive-resource\",\n            \"pic\": \"/images/suggest-roadmap.png\",\n            \"level\": 2,\n            \"genre\": 2,\n            \"inSite\": 2,\n            \"skillId\": \"所有skillId拼接的逗号分隔字符串\",\n            \"addition\": \"{\\\"updateDate\\\": \\\"当前日期\\\"}\"\n        }\n    ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -768,
        496
      ],
      "id": "73195f2f-dfe8-422c-8e15-c184c1d3a50a",
      "name": "AI Agent3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        928
      ],
      "id": "ff83985e-9633-4917-8ba8-cf661ba4d6a9",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "rEr4QKfc9fKcHID3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -784,
        720
      ],
      "id": "0eb94836-75b6-4d91-bc05-d9622c76582c",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "根据一个具体的技能ID（skillId），从资源库中查询并返回一个或多个相关的学习资源（例如教学视频、技术文章）。当你需要为某个技能寻找学习资料时，必须调用本工具，并传入该技能的skillId。",
        "milvusCollection": {
          "__rl": true,
          "value": "recource_vector",
          "mode": "list",
          "cachedResultName": "recource_vector"
        },
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        -656,
        720
      ],
      "id": "fbd978ff-78d1-4de5-9eee-c036d47eea63",
      "name": "search_resources_by_skill_id2",
      "credentials": {
        "milvusApi": {
          "id": "wFc6M6SH2VtR60VW",
          "name": "Milvus account learning_resources"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取上一个节点传入的所有数据项\nconst items = $input.all();\nconst finalResults = [];\n\n// 这个正则表达式是关键，它会匹配被 ```json ... ``` 包裹的所有内容\nconst jsonBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/;\n\nfor (const item of items) {\n  // 获取 AI Agent 输出的那个很长的字符串\n  const rawOutput = item.json.output;\n\n  // 检查输入是否有效\n  if (!rawOutput || typeof rawOutput !== 'string') {\n    // 【修正点】将我们自定义的错误信息，包装在 { json: ... } 内部\n    finalResults.push({ json: { error: \"输入项没有有效的 'output' 字符串字段\", data: item.json } });\n    continue;\n  }\n\n  // --- 第一步：用正则表达式从长字符串中提取 JSON 部分 ---\n  const match = rawOutput.match(jsonBlockRegex);\n\n  // 检查是否找到了匹配的 JSON 块\n  if (!match || !match[1]) {\n    // 【修正点】将我们自定义的错误信息，包装在 { json: ... } 内部\n    finalResults.push({ json: { error: \"在输入字符串中找不到被 ```json ... ``` 包裹的 JSON 块\", data: rawOutput } });\n    continue;\n  }\n  \n  // match[1] 就是我们成功提取出的、纯净的 JSON 字符串\n  const jsonString = match[1];\n  let parsedJson;\n\n  // --- 第二步：将提取出的字符串解析成真正的 JSON 对象 ---\n  try {\n    parsedJson = JSON.parse(jsonString);\n  } catch (e) {\n    // 【修正点】将我们自定义的错误信息，包装在 { json: ... } 内部\n    finalResults.push({ json: { error: \"提取出的字符串不是有效的JSON格式\", details: e.message, data: jsonString } });\n    continue;\n  }\n  \n  // 【修正点】将清洗和解析后的最终成功结果，也包装在 { json: ... } 内部\n  finalResults.push({ json: parsedJson });\n}\n\n// 返回符合 n8n 格式的、包含所有处理结果的数组\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        496
      ],
      "id": "1b1168ff-4d31-482f-a2be-2205a7515070",
      "name": "Code4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/v1/learning-resource/studypath",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJsb2dpblR5cGUiOiJsb2dpbiIsImxvZ2luSWQiOiJzeXNfdXNlcjoxIiwicm5TdHIiOiJMMTlaYUNHSXdaa0VhbFdUVWxnSGh5MHk4N1g2TU00WiIsImNsaWVudGlkIjoiZTVjZDdlNDg5MWJmOTVkMWQxOTIwNmNlMjRhN2IzMmUiLCJ0ZW5hbnRJZCI6IjAwMDAwMCIsInVzZXJJZCI6MSwidXNlck5hbWUiOiJhZG1pbiIsImRlcHRJZCI6MTAzLCJkZXB0TmFtZSI6IueglOWPkemDqOmXqCIsImRlcHRDYXRlZ29yeSI6IiJ9._-ZzoYnivomxQcafGhZQCtQrT6ee9XjRlZuDj_c43jw"
              },
              {
                "name": "clientid",
                "value": "e5cd7e4891bf95d1d19206ce24a7b32e"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4624,
        2272
      ],
      "id": "af0db968-e057-4305-9f4c-490ee7f0fc1d",
      "name": "Webhook",
      "webhookId": "e558189a-c945-4f89-a3a5-7ae91475b169",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3OpbdSaTg1yNFBzm",
          "name": "Hollow Knight"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.body.requiredata) }}\n{{ JSON.stringify($json.body.secondskillMap) }}",
        "options": {
          "systemMessage": "=# 角色\n你是一位资深的技能匹配引擎与技术顾问。\n\n# 任务\n你的核心任务是：分析用户提供的输入信息，并从给定的“候选技能列表”中，选择出【一个且仅一个】最相关的二级技能。你的决策必须基于对用户核心意图的整体理解。\n\n# 用户需求 (输入信息)\n这是用户的需求信息。其中部分字段可能为空。你必须综合所有非空字段的信息来做出最终判断。\n\n{{ JSON.stringify($json.body.requiredata) }}\n\n候选技能列表\n\n你【必须】从以下列表中选择一个综合最为合适的技能。\n\n{{ JSON.stringify($json.body.secondskillMap) }}\n\n分析与决策规则\n\n整体分析: 仔细审查所有非空字段 (project, jobRequirement, taskDescription, userText)，形成对用户需求的完整画像。\n\n输入优先级: 如果存在多个字段，请遵循以下优先级顺序来判断核心意图：userText > taskDescription > jobRequirement > project。用户的直接提问 (userText) 是最高优先级的信号。\n\n推断核心意图: 不要只做简单的关键词匹配，要理解用户背后的目标。他是想开发一个特定功能？学习一个新领域？还是满足某个岗位的要求？\n\n语义匹配: 将推断出的核心意图与候选技能进行语义匹配。例如，如果任务包含“React组件”和“Axios”，那么核心技能是“React/Vue/Angular”，而不仅仅是“HTML/CSS”。\n\n处理模糊性: 如果用户需求比较宽泛或可能匹配多个技能，请选择那个最基础、或能涵盖用户请求的最高层级的技能。\n\n输出格式\n\n你的回答【必须】是一个纯粹的、不包含任何其他解释性文字的 JSON 对象。不要附加任何说明、致歉或像 ```json 这样的Markdown标记。\n\n这个 JSON 对象必须遵循以下结构：\n{\n\"id\": \"你选择的技能的ID\",\n\"title\": \"你选择的技能的标题\",\n\"reasoning\": \"一句话简要解释你为什么基于输入信息选择了这个技能。\"\n}\n\n示例\n输入:\n\n{\n\"require\": {\n\"taskDescription\": [{\"title\": \"\", \"content\": \"根据UI设计稿实现像素级还原的Web界面;开发可复用的React/Vue组件（如数据表格、表单）;对接后端API（Axios/RESTful），优化数据请求效率;进行前端性能优化（Lazy Loading、代码拆分）\"}],\n\"userText\": \"我要学习前端的知识，请给我生成一条学习路径\"\n}\n}\n\n正确输出:\n\n{\n\"id\": \"33\",\n\"title\": \"React/Vue/Angular\",\n\"reasoning\": \"用户的任务明确提及开发可复用的React/Vue组件，并且有学习前端的意图，因此'React/Vue/Angular'是最具体且相关的核心技能。\"\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4624,
        3504
      ],
      "id": "e089cbe3-32e7-4164-af26-bc0e3cb2f57f",
      "name": "二级技能匹配",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 大哥，我先拿到上一个节点过来的所有数据\nconst items = $input.all();\nconst finalResults = [];\n\n// 这行是咱的秘密武器（正则表达式），专门用来找被 ```json ... ``` 包起来的东西\nconst jsonBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/;\n\n// 循环处理每一条数据\nfor (const item of items) {\n  // 从数据里找到那个名叫 \"output\" 的长字符串\n  const rawOutput = item.json.output;\n\n  // 安全第一，先看看这玩意儿存不存在\n  if (!rawOutput || typeof rawOutput !== 'string') {\n    // 要是不对劲，我就记下来告诉您，然后处理下一条\n    finalResults.push({ json: { error: \"大哥，这条数据里没找到'output'字段，或者它不是字符串。\", data: item.json } });\n    continue;\n  }\n\n  // 用秘密武器去匹配一下\n  const match = rawOutput.match(jsonBlockRegex);\n\n  // 要是没找到被包起来的 JSON，我也得跟您汇报\n  if (!match || !match[1]) {\n    finalResults.push({ json: { error: \"大哥，我在output里没找到被代码块包起来的JSON。\", data: rawOutput } });\n    continue;\n  }\n  \n  // match[1] 就是咱成功“抠”出来的纯净 JSON 字符串\n  const jsonString = match[1];\n  let parsedJson;\n\n  // 最后一步，把这字符串变成真正的 JSON 对象\n  try {\n    parsedJson = JSON.parse(jsonString);\n  } catch (e) {\n    // 要是这字符串本身有问题，我也帮您记下来\n    finalResults.push({ json: { error: \"大哥，抠出来的字符串格式不对，转不成JSON。\", details: e.message, data: jsonString } });\n    continue;\n  }\n  \n  // 妥了！把处理好的干净数据放进最终结果里\n  finalResults.push({ json: parsedJson });\n}\n\n// 大哥，您要的东西都在这儿了，请过目！\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4224,
        3504
      ],
      "id": "108d3c70-63ef-4011-abeb-1f72fd66dbdb",
      "name": "清洗数据"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.skillMap) }}\n{{ JSON.stringify($('Webhook').item.json.body.requiredata) }}\n{{ JSON.stringify($('Webhook').item.json.body.skills) }}\n{{ JSON.stringify($('Webhook').item.json.body.secondskillMap) }}",
        "options": {
          "systemMessage": "=# 角色\nAI学习路径架构师\n\n# 核心指令\n根据用户数据，识别【一个】核心技能类别，并生成一个结构化的、个性化的学习路径JSON。\n\n---\n\n# 1. 输入数据源\n*   **1.1 候选技能类别:** 第一阶段选择的权威列表。\n    {{ JSON.stringify($json.subcategory) }}\n*   **1.2 可用技能点:** 第二阶段构建节点的权威列表。\n    {{ JSON.stringify($json.skillMap) }}\n*   **1.3 学习者档案:**\n    *   **当前技能:** {{ JSON.stringify($('Webhook').item.json.body.skills) }}\n    *   **明确需求:** {{ JSON.stringify($('Webhook').item.json.body.requiredata) }}\n\n---\n\n# 2. 核心逻辑与生成规则\n\n你必须分两阶段执行，并严格遵守以下规则。\n\n### 阶段一：核心技能识别\n*   **目标:** 确定唯一的、最相关的 `skillSubcategoryId`。\n*   **规则:** 分析「学习者档案」->「明确需求」，从「候选技能类别」中选择与用户核心意图最匹配的【一个】技能。\n*   **决策优先级:** 分析意图时，遵循此层级：`userText` (最高) > `taskDescription` > `jobRequirement` > `project` (最低)。\n\n### 阶段二：学习路径构建\n*   **目标:** 基于阶段一识别的技能，构建 `nodeBos` 数组。\n*   **规则A (差距分析):** 对比用户的目标（来自阶段一）和其「当前技能」，识别出 3-5 个最关键的知识差距。\n*   **规则B (节点选择与排序):** 为每个识别出的知识差距，从「可用技能点」中选择最相关的技能作为节点。最终的节点列表必须按从基础到进阶的逻辑顺序排列。\n*   **规则C (内容准确性):** 每个 `node` 的 `title` 和 `description` 都必须是其关联 `skillId` 内容的精准、专业的总结。\n*   **规则D (路径总结):** 根节点的 `title` 和 `description` 必须是对整个学习路径价值和目标的、有吸引力的总结。\n\n---\n\n# 3. 绝对输出协议\n\n**【警告】: 你的输出必须是且只能是一个纯粹的、完全合法的JSON对象。**\n\n*   **禁止自然语言:** 不得包含任何解释、致歉、或Markdown标记 (```)。\n*   **数据保真:** 所有的 `skillId` 和 `skillSubcategoryId` 都【必须】来源于输入的数据列表。严禁创造数据。\n*   **质量优于数量:** 一个包含高度相关技能的短路径，优于一个包含无关“填充物”的长路径。\n*   **直接输出:** 你的全部响应就是这个JSON对象本身。\n\n{\n    \"title\": \"一个简洁且有吸引力的学习路径标题\",\n    \"description\": \"一段专业的描述，说明此路径能帮助学习者达成什么成就。\",\n    \"skillSubcategoryId\": \"在【阶段一】中识别出的那个核心技能ID\",\n    \"numLike\": 0,\n    \"nodeBos\": [\n        {\n            \"title\": \"对这个学习节点的精准标题\",\n            \"description\": \"对这个节点所涵盖内容的清晰描述\",\n            \"skillId\": \"来自“可用技能点”列表的具体skillId\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 1\n        }\n    ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -3280,
        1808
      ],
      "id": "6bf7c9ea-1f5a-429e-9293-7335104e5de7",
      "name": "路径生成",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73edd483-e027-4aa8-9273-963138cf270d",
              "name": "skillMap",
              "value": "={{ $('Webhook').item.json.body.skillMap }}",
              "type": "array"
            },
            {
              "id": "585b2043-49fb-4e16-a1ad-4af41e8bd4da",
              "name": "subcategory",
              "value": "={{ $json.body.secondskillMap }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3504,
        1808
      ],
      "id": "af0c8b73-46c1-46b4-b119-0ec81fbdd696",
      "name": "将技能设为全局变量"
    },
    {
      "parameters": {
        "jsCode": "// 从输入数据中获取原始输出字符串\nconst rawOutput = $input.all()[0].json.output;\n\n// 处理可能存在的Markdown代码块标记\nlet jsonString = rawOutput.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// 修复特定的格式错误 - 处理错误的priority字段格式\njsonString = jsonString.replace(/\"priority\":\\s*\":\\s*\"(\\d+)\"/g, '\"priority\": \"$1\"');\n\ntry {\n  // 尝试解析为JSON\n  const parsedData = JSON.parse(jsonString);\n  \n  // 返回解析后的数据\n  return parsedData;\n} catch (error) {\n  // 如果解析失败，尝试修复常见的JSON格式问题\n  try {\n    // 处理可能的单引号问题\n    jsonString = jsonString.replace(/'/g, '\"');\n    \n    // 处理未转义的双引号\n    jsonString = jsonString.replace(/(\\w+):\\s*\"([^\"]*)\"/g, '\"$1\": \"$2\"');\n    \n    // 处理末尾可能的多余逗号\n    jsonString = jsonString.replace(/,\\s*}/g, '}').replace(/,\\s*]/g, ']');\n    \n    // 再次尝试解析\n    const fixedData = JSON.parse(jsonString);\n    return fixedData;\n  } catch (fixError) {\n    // 如果仍然失败，返回错误信息和原始JSON字符串以便调试\n    return {\n      error: `解析JSON失败: ${fixError.message}`,\n      position: fixError.message,\n      rawJson: jsonString\n    };\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        1808
      ],
      "id": "0bf7eb25-9a9b-4fd8-a9e0-4f5c995081b9",
      "name": "数据清洗2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8d7722f-6d70-4850-ab72-b204dac7d13b",
              "leftValue": "={{ $json.body.requiredata }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "efc15415-5812-4067-b6dd-4237d85c24d6",
              "leftValue": "={{ $json.body.requiredata }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        2272
      ],
      "id": "f67ca5b2-c240-4f07-b5ad-7b9747d3f9e6",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: Requiredata cannot be empty.\",\n  \"data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        2736
      ],
      "id": "415340ac-444f-429d-b0cb-9c423353f6ab",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18a99e99-3522-4319-9bb3-5b5723342a9d",
              "leftValue": "={{ $json.body.secondskillMap }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "72c403a1-559a-4360-82e4-62d05d697580",
              "leftValue": "={{ $json.body.secondskillMap }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4176,
        2176
      ],
      "id": "ec522a8f-130b-4577-aaae-2e7115994ce1",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: secondskillMap cannot be empty.\",\n  \"data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        2544
      ],
      "id": "df256e85-3025-4d94-98d5-f6a3fd6b360c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce7af3d4-969b-4d7e-a131-514b518df0d0",
              "leftValue": "={{ $json.body.skills }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3952,
        2080
      ],
      "id": "b5fb1417-73f1-461e-bc37-576b4c92ab5f",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: skills should give.\",\n  \"data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        2352
      ],
      "id": "c9f0b608-278c-4dd2-9ad0-b916f06b63de",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4344683-c864-477d-a0f6-8a9b1a643f90",
              "leftValue": "={{ $json.body.skillMap }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "df2194f6-e34b-468d-9377-952b46fe382b",
              "leftValue": "={{ $json.body.skillMap }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3728,
        1984
      ],
      "id": "e756dfbd-3f99-4af5-94df-b6ec03e8a84e",
      "name": "If3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: skillMap cannot be empty.\",\n  \"data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        2160
      ],
      "id": "0608424b-1edb-4ca0-b9dc-6860217633cf",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -3328,
        2112
      ],
      "id": "07c32cbf-25c9-4648-ad7a-5145f96a8b25",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -2784,
        2016
      ],
      "id": "0633a878-8644-4487-bb25-5d92d80b3fd2",
      "name": "DeepSeek Chat Model3",
      "credentials": {
        "deepSeekApi": {
          "id": "PzntduMJthTLxbRd",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {
    "二级技能": [
      {
        "json": {
          "secondskillMap": [
            {
              "id": "1",
              "title": "竞品分析"
            },
            {
              "id": "2",
              "title": "市场调研"
            },
            {
              "id": "3",
              "title": "用户访谈"
            },
            {
              "id": "4",
              "title": "问卷设计"
            },
            {
              "id": "5",
              "title": "用户画像"
            },
            {
              "id": "6",
              "title": "商业模式设计"
            },
            {
              "id": "7",
              "title": "产品路线图(Roadmap)规划"
            },
            {
              "id": "8",
              "title": "MVP定义"
            },
            {
              "id": "9",
              "title": "需求分析与管理"
            },
            {
              "id": "10",
              "title": "数据分析基础"
            },
            {
              "id": "11",
              "title": "A/B测试设计"
            },
            {
              "id": "12",
              "title": "关键指标(KPI/OKR)设定"
            },
            {
              "id": "13",
              "title": "行业数据解读"
            },
            {
              "id": "14",
              "title": "UI设计(Web/App)"
            },
            {
              "id": "15",
              "title": "设计规范(Design System)"
            },
            {
              "id": "16",
              "title": "图形设计"
            },
            {
              "id": "17",
              "title": "Figma/Sketch"
            },
            {
              "id": "18",
              "title": "信息架构"
            },
            {
              "id": "19",
              "title": "用户流程图"
            },
            {
              "id": "20",
              "title": "线框图"
            },
            {
              "id": "21",
              "title": "可用性测试"
            },
            {
              "id": "22",
              "title": "用户研究"
            },
            {
              "id": "23",
              "title": "3D建模(Blender/C4D)"
            },
            {
              "id": "24",
              "title": "材质与渲染"
            },
            {
              "id": "25",
              "title": "VR/AR场景设计"
            },
            {
              "id": "26",
              "title": "空间交互设计"
            },
            {
              "id": "27",
              "title": "After Effects"
            },
            {
              "id": "28",
              "title": "Lottie"
            },
            {
              "id": "29",
              "title": "交互动效"
            },
            {
              "id": "30",
              "title": "视觉特效(VFX)"
            },
            {
              "id": "31",
              "title": "HTML/CSS"
            },
            {
              "id": "32",
              "title": "JavaScript/TypeScript"
            },
            {
              "id": "33",
              "title": "React/Vue/Angular"
            },
            {
              "id": "34",
              "title": "Android(Kotlin/Java)"
            },
            {
              "id": "35",
              "title": "iOS(Swift/Objective-C)"
            },
            {
              "id": "36",
              "title": "React Native"
            },
            {
              "id": "37",
              "title": "Flutter"
            },
            {
              "id": "38",
              "title": "小程序开发"
            },
            {
              "id": "39",
              "title": "Qt(C++)"
            }
          ]
        }
      }
    ],
    "CodeAggregateSkill2": [
      {
        "json": {
          "skillMap": [
            {
              "id": "1",
              "title": "竞品分析"
            },
            {
              "id": "2",
              "title": "市场调研"
            },
            {
              "id": "3",
              "title": "用户访谈"
            },
            {
              "id": "4",
              "title": "问卷设计"
            },
            {
              "id": "5",
              "title": "用户画像"
            },
            {
              "id": "6",
              "title": "商业模式设计"
            },
            {
              "id": "7",
              "title": "产品路线图(Roadmap)规划"
            },
            {
              "id": "8",
              "title": "MVP定义"
            },
            {
              "id": "9",
              "title": "需求分析与管理"
            },
            {
              "id": "10",
              "title": "数据分析基础"
            },
            {
              "id": "11",
              "title": "A/B测试设计"
            },
            {
              "id": "12",
              "title": "关键指标(KPI/OKR)设定"
            },
            {
              "id": "13",
              "title": "行业数据解读"
            },
            {
              "id": "14",
              "title": "UI设计(Web/App)"
            },
            {
              "id": "15",
              "title": "设计规范(Design System)"
            },
            {
              "id": "16",
              "title": "图形设计"
            },
            {
              "id": "17",
              "title": "Figma/Sketch"
            },
            {
              "id": "18",
              "title": "信息架构"
            },
            {
              "id": "19",
              "title": "用户流程图"
            },
            {
              "id": "20",
              "title": "线框图"
            },
            {
              "id": "21",
              "title": "可用性测试"
            },
            {
              "id": "22",
              "title": "用户研究"
            },
            {
              "id": "23",
              "title": "3D建模(Blender/C4D)"
            },
            {
              "id": "24",
              "title": "材质与渲染"
            },
            {
              "id": "25",
              "title": "VR/AR场景设计"
            },
            {
              "id": "26",
              "title": "空间交互设计"
            },
            {
              "id": "27",
              "title": "After Effects"
            },
            {
              "id": "28",
              "title": "Lottie"
            },
            {
              "id": "29",
              "title": "交互动效"
            },
            {
              "id": "30",
              "title": "视觉特效(VFX)"
            },
            {
              "id": "31",
              "title": "HTML/CSS"
            },
            {
              "id": "32",
              "title": "JavaScript/TypeScript"
            },
            {
              "id": "33",
              "title": "React/Vue/Angular"
            },
            {
              "id": "34",
              "title": "Android (Kotlin/Java)"
            },
            {
              "id": "35",
              "title": "iOS (Swift/Objective-C)"
            },
            {
              "id": "36",
              "title": "React Native"
            },
            {
              "id": "37",
              "title": "Flutter"
            },
            {
              "id": "38",
              "title": "小程序开发"
            },
            {
              "id": "39",
              "title": "Qt (C++)"
            },
            {
              "id": "40",
              "title": "WPF/WinForms (.NET)"
            },
            {
              "id": "41",
              "title": "Cocoa (macOS)"
            },
            {
              "id": "42",
              "title": "Electron (基于Web技术)"
            },
            {
              "id": "43",
              "title": "Unity"
            },
            {
              "id": "44",
              "title": "Unreal Engine"
            },
            {
              "id": "45",
              "title": "WebGL/Three.js"
            },
            {
              "id": "46",
              "title": "图形学基础"
            },
            {
              "id": "47",
              "title": "Java"
            },
            {
              "id": "48",
              "title": "Go"
            },
            {
              "id": "49",
              "title": "Python"
            },
            {
              "id": "50",
              "title": "C#"
            },
            {
              "id": "51",
              "title": "PHP"
            },
            {
              "id": "52",
              "title": "Node.js"
            },
            {
              "id": "53",
              "title": "Rust"
            },
            {
              "id": "54",
              "title": "Spring Boot"
            },
            {
              "id": "55",
              "title": "Django/Flask"
            },
            {
              "id": "56",
              "title": "Express/Koa"
            },
            {
              "id": "57",
              "title": "Gin"
            },
            {
              "id": "58",
              "title": ".NET Core"
            },
            {
              "id": "59",
              "title": "MySQL/PostgreSQL"
            },
            {
              "id": "60",
              "title": "Redis"
            },
            {
              "id": "61",
              "title": "MongoDB"
            },
            {
              "id": "62",
              "title": "Elasticsearch"
            },
            {
              "id": "63",
              "title": "数据库设计与优化"
            },
            {
              "id": "64",
              "title": "RESTful API设计"
            },
            {
              "id": "65",
              "title": "GraphQL"
            },
            {
              "id": "66",
              "title": "gRPC"
            },
            {
              "id": "67",
              "title": "微服务架构"
            },
            {
              "id": "68",
              "title": "数据仓库/湖"
            },
            {
              "id": "69",
              "title": "ETL"
            },
            {
              "id": "70",
              "title": "Spark"
            },
            {
              "id": "71",
              "title": "Pandas"
            },
            {
              "id": "72",
              "title": "统计建模"
            },
            {
              "id": "73",
              "title": "TensorFlow/PyTorch"
            },
            {
              "id": "74",
              "title": "模型部署与监控"
            },
            {
              "id": "75",
              "title": "特征工程"
            },
            {
              "id": "76",
              "title": "计算机视觉(CV)"
            },
            {
              "id": "77",
              "title": "自然语言处理(NLP)"
            },
            {
              "id": "78",
              "title": "推荐系统"
            },
            {
              "id": "79",
              "title": "Prompt工程"
            },
            {
              "id": "80",
              "title": "RAG"
            },
            {
              "id": "81",
              "title": "Fine-tuning"
            },
            {
              "id": "82",
              "title": "多模态模型应用"
            },
            {
              "id": "83",
              "title": "LangChain/LlamaIndex"
            },
            {
              "id": "84",
              "title": "AutoGPT/BabyAGI概念"
            },
            {
              "id": "85",
              "title": "n8n/Zapier"
            },
            {
              "id": "86",
              "title": "智能体规划与执行"
            },
            {
              "id": "87",
              "title": "函数调用(Function Calling)"
            },
            {
              "id": "88",
              "title": "AWS/Azure/GCP"
            },
            {
              "id": "89",
              "title": "Docker"
            },
            {
              "id": "90",
              "title": "Kubernetes(K8s)"
            },
            {
              "id": "91",
              "title": "Serverless"
            },
            {
              "id": "92",
              "title": "CI/CD"
            },
            {
              "id": "93",
              "title": "Jenkins/GitLab CI"
            },
            {
              "id": "94",
              "title": "Prometheus/Grafana"
            },
            {
              "id": "95",
              "title": "基础设施即代码(IaC)"
            },
            {
              "id": "96",
              "title": "Web安全(OWASP)"
            },
            {
              "id": "97",
              "title": "渗透测试"
            },
            {
              "id": "98",
              "title": "数据加密"
            },
            {
              "id": "99",
              "title": "隐私计算"
            },
            {
              "id": "100",
              "title": "合规性(GDPR/CCPA)"
            },
            {
              "id": "101",
              "title": "测试用例设计"
            },
            {
              "id": "102",
              "title": "Bug跟踪与管理"
            },
            {
              "id": "103",
              "title": "探索性测试"
            },
            {
              "id": "104",
              "title": "Selenium/Cypress"
            },
            {
              "id": "105",
              "title": "Appium"
            },
            {
              "id": "106",
              "title": "JMeter"
            },
            {
              "id": "107",
              "title": "接口自动化"
            },
            {
              "id": "108",
              "title": "性能测试"
            },
            {
              "id": "109",
              "title": "测试框架开发"
            },
            {
              "id": "110",
              "title": "Mock/Stub技术"
            },
            {
              "id": "111",
              "title": "代码覆盖率分析"
            },
            {
              "id": "112",
              "title": "敏捷/Scrum/Kanban"
            },
            {
              "id": "113",
              "title": "项目管理工具(Jira/ClickUp)"
            },
            {
              "id": "114",
              "title": "风险管理"
            },
            {
              "id": "115",
              "title": "跨职能沟通"
            },
            {
              "id": "116",
              "title": "技术文档写作"
            },
            {
              "id": "117",
              "title": "演示与汇报"
            },
            {
              "id": "118",
              "title": "冲突解决"
            },
            {
              "id": "119",
              "title": "行业分析"
            },
            {
              "id": "120",
              "title": "成本与效益分析"
            },
            {
              "id": "121",
              "title": "供应链知识"
            },
            {
              "id": "122",
              "title": "批判性思维"
            },
            {
              "id": "123",
              "title": "终身学习能力"
            },
            {
              "id": "124",
              "title": "时间管理"
            },
            {
              "id": "125",
              "title": "领导力潜质"
            }
          ],
          "skills": [
            {
              "userId": "111",
              "skillId": "1",
              "skillTitle": "Node.js",
              "skillScore": 80,
              "skillLevel": "熟练"
            },
            {}
          ]
        }
      }
    ],
    "Code1": [
      {
        "json": {
          "text": "前端开发进阶学习路径 针对已有React/Vue和Node.js基础的学习者，系统提升前端开发核心能力，覆盖现代前端开发的关键技术栈",
          "nodeInfo": {
            "title": "前端开发进阶学习路径",
            "description": "针对已有React/Vue和Node.js基础的学习者，系统提升前端开发核心能力，覆盖现代前端开发的关键技术栈",
            "skillSubcategoryId": "33",
            "numLike": 0,
            "nodeBos": [
              {
                "title": "现代JavaScript/TypeScript精要",
                "description": "掌握ES6+核心语法、TypeScript类型系统与工程化配置，为框架开发打下坚实基础",
                "skillId": "32",
                "numLike": 0,
                "numUnlike": 0,
                "priority": "1"
              },
              {
                "title": "React/Vue高级模式与性能优化",
                "description": "深入虚拟DOM原理、状态管理方案(Redux/Vuex)、Hooks/Composition API高级用法及渲染性能调优",
                "skillId": "33",
                "numLike": 0,
                "numUnlike": 0,
                "priority": "2"
              },
              {
                "title": "前端工程化与构建工具",
                "description": "掌握Webpack/Vite配置优化、代码分割策略、Tree Shaking及现代化部署流程",
                "skillId": "92",
                "numLike": 0,
                "numUnlike": 0,
                "priority": "3"
              },
              {
                "title": "前端测试体系构建",
                "description": "学习Jest单元测试、React Testing Library组件测试及Cypress端到端测试的完整实践方案",
                "skillId": "104",
                "numLike": 0,
                "numUnlike": 0,
                "priority": "4"
              },
              {
                "title": "微前端架构实践",
                "description": "掌握模块联邦、Single-SPA等微前端方案，实现复杂应用的模块化开发与部署",
                "skillId": "67",
                "numLike": 0,
                "numUnlike": 0,
                "priority": "5"
              },
              {
                "title": "Web动画与交互体验优化",
                "description": "学习CSS动画、Lottie动效实现及WebGL基础，提升用户界面动态表现力",
                "skillId": "29",
                "numLike": 0,
                "numUnlike": 0,
                "priority": "6"
              }
            ]
          }
        }
      }
    ],
    "AI Agent3": [
      {
        "json": {
          "output": "由于查询工具返回的资源与输入的学习路径节点不匹配（例如，返回的资源主要涉及MySQL、Java、C++等，而学习路径的节点是关于前端开发的技术栈），我将根据节点的标题和描述，手动筛选并映射最合适的资源。\n\n以下是增强后的学习路径JSON：\n\n```json\n{\n    \"title\": \"前端开发进阶学习路径\",\n    \"description\": \"针对已有React/Vue和Node.js基础的学习者，系统提升前端开发核心能力，覆盖现代前端开发的关键技术栈\",\n    \"skillSubcategoryId\": 33,\n    \"numLike\": 0,\n    \"nodeBos\": [\n        {\n            \"title\": \"现代JavaScript/TypeScript精要\",\n            \"description\": \"掌握ES6+核心语法、TypeScript类型系统与工程化配置，为框架开发打下坚实基础\",\n            \"skillId\": \"32\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 1,\n            \"resources\": [\n                {\n                    \"title\": \"TypeScript入门到精通\",\n                    \"description\": \"从基础语法到高级类型系统，全面掌握TypeScript的核心特性\",\n                    \"content\": \"本教程详细介绍了TypeScript的基础语法、类型系统、接口、泛型等核心概念，适合有一定JavaScript基础的学习者。\",\n                    \"location\": \"https://www.bilibili.com/video/BV1kR4y1b7Qc\",\n                    \"pic\": \"https://i0.hdslb.com/bfs/archive/cover.jpg\",\n                    \"level\": 2,\n                    \"genre\": 1,\n                    \"inSite\": 2,\n                    \"skillId\": \"32\",\n                    \"addition\": \"{\\\"authorName\\\": \\\"尚硅谷\\\", \\\"playCount\\\": 1323324}\"\n                }\n            ]\n        },\n        {\n            \"title\": \"React/Vue高级模式与性能优化\",\n            \"description\": \"深入虚拟DOM原理、状态管理方案(Redux/Vuex)、Hooks/Composition API高级用法及渲染性能调优\",\n            \"skillId\": \"33\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 2,\n            \"resources\": [\n                {\n                    \"title\": \"React性能优化实战\",\n                    \"description\": \"深入解析React虚拟DOM原理及性能优化技巧\",\n                    \"content\": \"本视频讲解了React的虚拟DOM工作原理，以及如何通过代码分割、懒加载、Memo等技术优化React应用的性能。\",\n                    \"location\": \"https://www.bilibili.com/video/BV1kR4y1b7Qc\",\n                    \"pic\": \"https://i0.hdslb.com/bfs/archive/cover.jpg\",\n                    \"level\": 3,\n                    \"genre\": 1,\n                    \"inSite\": 2,\n                    \"skillId\": \"33\",\n                    \"addition\": \"{\\\"authorName\\\": \\\"前端大佬\\\", \\\"playCount\\\": 500000}\"\n                }\n            ]\n        },\n        {\n            \"title\": \"前端工程化与构建工具\",\n            \"description\": \"掌握Webpack/Vite配置优化、代码分割策略、Tree Shaking及现代化部署流程\",\n            \"skillId\": \"92\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 3,\n            \"resources\": [\n                {\n                    \"title\": \"Webpack5从入门到精通\",\n                    \"description\": \"全面学习Webpack5的配置与优化技巧\",\n                    \"content\": \"本教程详细介绍了Webpack5的核心概念、配置方法以及性能优化策略，包括代码分割、Tree Shaking等。\",\n                    \"location\": \"https://www.bilibili.com/video/BV1kR4y1b7Qc\",\n                    \"pic\": \"https://i0.hdslb.com/bfs/archive/cover.jpg\",\n                    \"level\": 3,\n                    \"genre\": 1,\n                    \"inSite\": 2,\n                    \"skillId\": \"92\",\n                    \"addition\": \"{\\\"authorName\\\": \\\"Webpack官方\\\", \\\"playCount\\\": 200000}\"\n                }\n            ]\n        },\n        {\n            \"title\": \"前端测试体系构建\",\n            \"description\": \"学习Jest单元测试、React Testing Library组件测试及Cypress端到端测试的完整实践方案\",\n            \"skillId\": \"104\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 4,\n            \"resources\": [\n                {\n                    \"title\": \"前端测试全攻略\",\n                    \"description\": \"从单元测试到端到端测试，全面掌握前端测试技术\",\n                    \"content\": \"本教程详细介绍了Jest、React Testing Library和Cypress的使用方法，帮助开发者构建完整的前端测试体系。\",\n                    \"location\": \"https://www.bilibili.com/video/BV1kR4y1b7Qc\",\n                    \"pic\": \"https://i0.hdslb.com/bfs/archive/cover.jpg\",\n                    \"level\": 3,\n                    \"genre\": 1,\n                    \"inSite\": 2,\n                    \"skillId\": \"104\",\n                    \"addition\": \"{\\\"authorName\\\": \\\"测试专家\\\", \\\"playCount\\\": 150000}\"\n                }\n            ]\n        },\n        {\n            \"title\": \"微前端架构实践\",\n            \"description\": \"掌握模块联邦、Single-SPA等微前端方案，实现复杂应用的模块化开发与部署\",\n            \"skillId\": \"67\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 5,\n            \"resources\": [\n                {\n                    \"title\": \"微前端架构实战\",\n                    \"description\": \"从零开始构建微前端应用\",\n                    \"content\": \"本教程详细介绍了模块联邦和Single-SPA的使用方法，帮助开发者实现复杂应用的模块化开发和部署。\",\n                    \"location\": \"https://www.bilibili.com/video/BV1kR4y1b7Qc\",\n                    \"pic\": \"https://i0.hdslb.com/bfs/archive/cover.jpg\",\n                    \"level\": 3,\n                    \"genre\": 1,\n                    \"inSite\": 2,\n                    \"skillId\": \"67\",\n                    \"addition\": \"{\\\"authorName\\\": \\\"架构师\\\", \\\"playCount\\\": 100000}\"\n                }\n            ]\n        },\n        {\n            \"title\": \"Web动画与交互体验优化\",\n            \"description\": \"学习CSS动画、Lottie动效实现及WebGL基础，提升用户界面动态表现力\",\n            \"skillId\": \"29\",\n            \"numLike\": 0,\n            \"numUnlike\": 0,\n            \"priority\": 6,\n            \"resources\": [\n                {\n                    \"title\": \"Web动画设计指南\",\n                    \"description\": \"从CSS动画到WebGL，全面掌握Web动画技术\",\n                    \"content\": \"本教程详细介绍了CSS动画、Lottie动效和WebGL的基础知识，帮助开发者提升用户界面的动态表现力。\",\n                    \"location\": \"https://www.bilibili.com/video/BV1kR4y1b7Qc\",\n                    \"pic\": \"https://i0.hdslb.com/bfs/archive/cover.jpg\",\n                    \"level\": 2,\n                    \"genre\": 1,\n                    \"inSite\": 2,\n                    \"skillId\": \"29\",\n                    \"addition\": \"{\\\"authorName\\\": \\\"动画设计师\\\", \\\"playCount\\\": 80000}\"\n                }\n            ]\n        }\n    ],\n    \"suggestResourceBos\": [\n        {\n            \"title\": \"前端开发高级进阶指南\",\n            \"description\": \"一个综合性的、跨所有技能节点的学习资源，涵盖现代前端开发的核心技术栈\",\n            \"content\": \"本资源总结了前端开发进阶路径中的所有关键技术点，包括JavaScript/TypeScript、React/Vue高级用法、工程化、测试、微前端和动画交互优化。\",\n            \"location\": \"/suggest/frontend-advanced-guide\",\n            \"pic\": \"/images/suggest-roadmap.png\",\n            \"level\": 2,\n            \"genre\": 2,\n            \"inSite\": 2,\n            \"skillId\": \"32,33,92,104,67,29\",\n            \"addition\": \"{\\\"updateDate\\\": \\\"2023-10-01\\\"}\"\n        }\n    ]\n}\n```\n\n### 说明：\n1. **资源筛选**：由于查询工具返回的资源与前端开发节点不匹配，我手动为每个节点添加了相关的学习资源。\n2. **字段映射**：严格遵循了输出格式的要求，确保每个字段正确映射。\n3. **综合资源**：生成了一个跨所有技能节点的综合资源，方便学习者全面掌握前端开发的核心技术。"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "root": "123456",
            "user-agent": "Apifox/1.0.0 (https://apifox.com)",
            "content-type": "application/json",
            "accept": "*/*",
            "host": "10.7.10.203:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "11658"
          },
          "params": {},
          "query": {},
          "body": {
            "meta": {
              "requestId": "c7a7e7e3-1c7b-4b1f-8e4a-2b7c4b1d8f1a",
              "timestamp": 1678886400000,
              "caller": "Learning-Platform-Service"
            },
            "requiredata": {
              "project": {
                "projectId": "",
                "projectName": "",
                "description": ""
              },
              "jobRequirement": {
                "positionName": "",
                "skillRequirements": ""
              },
              "taskDescription": [
                {
                  "title": "",
                  "content": "根据UI设计稿实现像素级还原的Web界面;开发可复用的React/Vue组件（如数据表格、表单）;对接后端API（Axios/RESTful），优化数据请求效率;进行前端性能优化（Lazy Loading、代码拆分）"
                }
              ]
            },
            "userId": "111",
            "skills": [
              {
                "skillId": "1",
                "skillTitle": "Node.js",
                "skillScore": 80,
                "skillLevel": "熟练"
              }
            ],
            "secondskillMap": [
              {
                "id": "1",
                "title": "市场与用户研究"
              },
              {
                "id": "2",
                "title": "产品战略与定位"
              },
              {
                "id": "3",
                "title": "数据驱动决策"
              },
              {
                "id": "4",
                "title": "平面与界面设计"
              },
              {
                "id": "5",
                "title": "交互与体验设计"
              },
              {
                "id": "6",
                "title": "3D与空间计算设计"
              },
              {
                "id": "7",
                "title": "动效与视觉特效"
              },
              {
                "id": "8",
                "title": "Web前端技术"
              },
              {
                "id": "9",
                "title": "移动端原生开发"
              },
              {
                "id": "10",
                "title": "跨平台与桌面开发"
              },
              {
                "id": "11",
                "title": "原生桌面开发"
              },
              {
                "id": "12",
                "title": "3D与图形渲染开发"
              },
              {
                "id": "13",
                "title": "后端编程语言"
              },
              {
                "id": "14",
                "title": "后端框架与技术"
              },
              {
                "id": "15",
                "title": "数据库技术"
              },
              {
                "id": "16",
                "title": "API与服务设计"
              },
              {
                "id": "17",
                "title": "数据工程与科学"
              },
              {
                "id": "18",
                "title": "机器学习工程"
              },
              {
                "id": "19",
                "title": "AI算法与应用"
              },
              {
                "id": "20",
                "title": "大模型与AIGC"
              },
              {
                "id": "21",
                "title": "智能体与自动化工作流"
              },
              {
                "id": "22",
                "title": "云计算与容器化"
              },
              {
                "id": "23",
                "title": "运维自动化与SRE"
              },
              {
                "id": "24",
                "title": "应用与数据安全"
              },
              {
                "id": "25",
                "title": "质量保障与测试策略"
              },
              {
                "id": "26",
                "title": "自动化测试工程"
              },
              {
                "id": "27",
                "title": "测试开发"
              },
              {
                "id": "28",
                "title": "项目与团队管理"
              },
              {
                "id": "29",
                "title": "沟通与协作"
              },
              {
                "id": "30",
                "title": "商业与行业认知"
              },
              {
                "id": "31",
                "title": "个人效能与成长"
              }
            ],
            "skillMap": [
              {
                "id": "1",
                "title": "竞品分析"
              },
              {
                "id": "2",
                "title": "市场调研"
              },
              {
                "id": "3",
                "title": "用户访谈"
              },
              {
                "id": "4",
                "title": "问卷设计"
              },
              {
                "id": "5",
                "title": "用户画像"
              },
              {
                "id": "6",
                "title": "商业模式设计"
              },
              {
                "id": "7",
                "title": "产品路线图(Roadmap)规划"
              },
              {
                "id": "8",
                "title": "MVP定义"
              },
              {
                "id": "9",
                "title": "需求分析与管理"
              },
              {
                "id": "10",
                "title": "数据分析基础"
              },
              {
                "id": "11",
                "title": "A/B测试设计"
              },
              {
                "id": "12",
                "title": "关键指标(KPI/OKR)设定"
              },
              {
                "id": "13",
                "title": "行业数据解读"
              },
              {
                "id": "14",
                "title": "UI设计(Web/App)"
              },
              {
                "id": "15",
                "title": "设计规范(Design System)"
              },
              {
                "id": "16",
                "title": "图形设计"
              },
              {
                "id": "17",
                "title": "Figma/Sketch"
              },
              {
                "id": "18",
                "title": "信息架构"
              },
              {
                "id": "19",
                "title": "用户流程图"
              },
              {
                "id": "20",
                "title": "线框图"
              },
              {
                "id": "21",
                "title": "可用性测试"
              },
              {
                "id": "22",
                "title": "用户研究"
              },
              {
                "id": "23",
                "title": "3D建模(Blender/C4D)"
              },
              {
                "id": "24",
                "title": "材质与渲染"
              },
              {
                "id": "25",
                "title": "VR/AR场景设计"
              },
              {
                "id": "26",
                "title": "空间交互设计"
              },
              {
                "id": "27",
                "title": "After Effects"
              },
              {
                "id": "28",
                "title": "Lottie"
              },
              {
                "id": "29",
                "title": "交互动效"
              },
              {
                "id": "30",
                "title": "视觉特效(VFX)"
              },
              {
                "id": "31",
                "title": "HTML/CSS"
              },
              {
                "id": "32",
                "title": "JavaScript/TypeScript"
              },
              {
                "id": "33",
                "title": "React/Vue/Angular"
              },
              {
                "id": "34",
                "title": "Android (Kotlin/Java)"
              },
              {
                "id": "35",
                "title": "iOS (Swift/Objective-C)"
              },
              {
                "id": "36",
                "title": "React Native"
              },
              {
                "id": "37",
                "title": "Flutter"
              },
              {
                "id": "38",
                "title": "小程序开发"
              },
              {
                "id": "39",
                "title": "Qt (C++)"
              },
              {
                "id": "40",
                "title": "WPF/WinForms (.NET)"
              },
              {
                "id": "41",
                "title": "Cocoa (macOS)"
              },
              {
                "id": "42",
                "title": "Electron (基于Web技术)"
              },
              {
                "id": "43",
                "title": "Unity"
              },
              {
                "id": "44",
                "title": "Unreal Engine"
              },
              {
                "id": "45",
                "title": "WebGL/Three.js"
              },
              {
                "id": "46",
                "title": "图形学基础"
              },
              {
                "id": "47",
                "title": "Java"
              },
              {
                "id": "48",
                "title": "Go"
              },
              {
                "id": "49",
                "title": "Python"
              },
              {
                "id": "50",
                "title": "C#"
              },
              {
                "id": "51",
                "title": "PHP"
              },
              {
                "id": "52",
                "title": "Node.js"
              },
              {
                "id": "53",
                "title": "Rust"
              },
              {
                "id": "54",
                "title": "Spring Boot"
              },
              {
                "id": "55",
                "title": "Django/Flask"
              },
              {
                "id": "56",
                "title": "Express/Koa"
              },
              {
                "id": "57",
                "title": "Gin"
              },
              {
                "id": "58",
                "title": ".NET Core"
              },
              {
                "id": "59",
                "title": "MySQL/PostgreSQL"
              },
              {
                "id": "60",
                "title": "Redis"
              },
              {
                "id": "61",
                "title": "MongoDB"
              },
              {
                "id": "62",
                "title": "Elasticsearch"
              },
              {
                "id": "63",
                "title": "数据库设计与优化"
              },
              {
                "id": "64",
                "title": "RESTful API设计"
              },
              {
                "id": "65",
                "title": "GraphQL"
              },
              {
                "id": "66",
                "title": "gRPC"
              },
              {
                "id": "67",
                "title": "微服务架构"
              },
              {
                "id": "68",
                "title": "数据仓库/湖"
              },
              {
                "id": "69",
                "title": "ETL"
              },
              {
                "id": "70",
                "title": "Spark"
              },
              {
                "id": "71",
                "title": "Pandas"
              },
              {
                "id": "72",
                "title": "统计建模"
              },
              {
                "id": "73",
                "title": "TensorFlow/PyTorch"
              },
              {
                "id": "74",
                "title": "模型部署与监控"
              },
              {
                "id": "75",
                "title": "特征工程"
              },
              {
                "id": "76",
                "title": "计算机视觉(CV)"
              },
              {
                "id": "77",
                "title": "自然语言处理(NLP)"
              },
              {
                "id": "78",
                "title": "推荐系统"
              },
              {
                "id": "79",
                "title": "Prompt工程"
              },
              {
                "id": "80",
                "title": "RAG"
              },
              {
                "id": "81",
                "title": "Fine-tuning"
              },
              {
                "id": "82",
                "title": "多模态模型应用"
              },
              {
                "id": "83",
                "title": "LangChain/LlamaIndex"
              },
              {
                "id": "84",
                "title": "AutoGPT/BabyAGI概念"
              },
              {
                "id": "85",
                "title": "n8n/Zapier"
              },
              {
                "id": "86",
                "title": "智能体规划与执行"
              },
              {
                "id": "87",
                "title": "函数调用(Function Calling)"
              },
              {
                "id": "88",
                "title": "AWS/Azure/GCP"
              },
              {
                "id": "89",
                "title": "Docker"
              },
              {
                "id": "90",
                "title": "Kubernetes(K8s)"
              },
              {
                "id": "91",
                "title": "Serverless"
              },
              {
                "id": "92",
                "title": "CI/CD"
              },
              {
                "id": "93",
                "title": "Jenkins/GitLab CI"
              },
              {
                "id": "94",
                "title": "Prometheus/Grafana"
              },
              {
                "id": "95",
                "title": "基础设施即代码(IaC)"
              },
              {
                "id": "96",
                "title": "Web安全(OWASP)"
              },
              {
                "id": "97",
                "title": "渗透测试"
              },
              {
                "id": "98",
                "title": "数据加密"
              },
              {
                "id": "99",
                "title": "隐私计算"
              },
              {
                "id": "100",
                "title": "合规性(GDPR/CCPA)"
              },
              {
                "id": "101",
                "title": "测试用例设计"
              },
              {
                "id": "102",
                "title": "Bug跟踪与管理"
              },
              {
                "id": "103",
                "title": "探索性测试"
              },
              {
                "id": "104",
                "title": "Selenium/Cypress"
              },
              {
                "id": "105",
                "title": "Appium"
              },
              {
                "id": "106",
                "title": "JMeter"
              },
              {
                "id": "107",
                "title": "接口自动化"
              },
              {
                "id": "108",
                "title": "性能测试"
              },
              {
                "id": "109",
                "title": "测试框架开发"
              },
              {
                "id": "110",
                "title": "Mock/Stub技术"
              },
              {
                "id": "111",
                "title": "代码覆盖率分析"
              },
              {
                "id": "112",
                "title": "敏捷/Scrum/Kanban"
              },
              {
                "id": "113",
                "title": "项目管理工具(Jira/ClickUp)"
              },
              {
                "id": "114",
                "title": "风险管理"
              },
              {
                "id": "115",
                "title": "跨职能沟通"
              },
              {
                "id": "116",
                "title": "技术文档写作"
              },
              {
                "id": "117",
                "title": "演示与汇报"
              },
              {
                "id": "118",
                "title": "冲突解决"
              },
              {
                "id": "119",
                "title": "行业分析"
              },
              {
                "id": "120",
                "title": "成本与效益分析"
              },
              {
                "id": "121",
                "title": "供应链知识"
              },
              {
                "id": "122",
                "title": "批判性思维"
              },
              {
                "id": "123",
                "title": "终身学习能力"
              },
              {
                "id": "124",
                "title": "时间管理"
              },
              {
                "id": "125",
                "title": "领导力潜质"
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/api/v1/learning-resource/studypath",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "DeepSeek Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "match subcategory skill id1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Computer learning-related or not1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Input Error1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Computer learning-related or not1": {
      "main": [
        [
          {
            "node": "If Computer Learning-related1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "match subcategory skill id1": {
      "main": [
        [
          {
            "node": "Extract Subcategory Id and Title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query skill1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "CodeAggregateSkill1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Learning Path Framework1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data cleaning1": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Learning Path Framework1": {
      "main": [
        [
          {
            "node": "Data cleaning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Computer Learning-related1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Input Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subcategory Aggregate1": {
      "main": [
        [
          {
            "node": "match subcategory skill id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subcategory Id and Title1": {
      "main": [
        [
          {
            "node": "Query skill1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeAggregateSkill1": {
      "main": [
        [
          {
            "node": "Learning Path Framework1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "二级技能匹配",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Computer learning-related or not2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Empty Input1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Computer learning-related or not2": {
      "main": [
        [
          {
            "node": "If Computer Learning-related2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Computer Learning-related2": {
      "main": [
        [
          {
            "node": "二级技能",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "项目对应技能",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfProject1": {
      "main": [
        [
          {
            "node": "IfInput1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfInput1": {
      "main": [
        [
          {
            "node": "Empty Input1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfCustomize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfCustomize2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Computer learning-related or not1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfCustomize3": {
      "main": [
        [
          {
            "node": "二级技能",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Computer learning-related or not2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeAggregateSkill2": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "search_resources_by_skill_id",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        []
      ]
    },
    "search_resources_by_skill_id": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "二级技能": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Subcategory Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "项目对应技能": {
      "main": [
        [
          {
            "node": "IfCustomize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "search_resources_by_skill_id2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "search_resources_by_skill_id2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "二级技能匹配": {
      "main": [
        [
          {
            "node": "清洗数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清洗数据": {
      "main": [
        []
      ]
    },
    "路径生成": {
      "main": [
        [
          {
            "node": "数据清洗2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "将技能设为全局变量": {
      "main": [
        [
          {
            "node": "路径生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据清洗2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "将技能设为全局变量",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "路径生成",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ea183b4-a332-418d-9ed2-45c96a3f617c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f20e4a9b84cf8634965bffd203a040709c991e2d3fae59cd033f553a5515944"
  },
  "id": "CEgabZFqGE55uVzZ",
  "tags": []
}