CompetencyProfile - Course.json
{
  "name": "CompetencyProfile - Course",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/api/v1/learning-resource/Course",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        1840
      ],
      "id": "9876f64f-0dc2-4034-9c2b-f96b286a4566",
      "name": "Webhook",
      "webhookId": "4b8bd49a-21a4-4929-8c5a-93e126fe7a91",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3OpbdSaTg1yNFBzm",
          "name": "Hollow Knight"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst eventData = $input.first().json.body.eventLoad.eventData.course;\nconst baseContribution = $input.first().json.baseContribution; // 假设前面节点名为'Set'\n\n// 定义难度等级对应的系数\nconst difficultyLevelSet = {\n  1: 0.5,  // 记忆：0.5（就业中记忆性课程价值低）\n  2: 1.0,  // 理解：1.0（基础分，符合 20% 权重）\n  3: 1.1,  // 简单应用：1.1（轻度应用有一定价值）\n  4: 1.2   // 综合应用：1.2（综合应用但不优先，贡献略升）\n};\n\n// 计算每个skill_id的finalContribution\nconst results = eventData.map(item => {\n  const skillId = item.skill_id;\n  const difficultyLevel = item.difficulty_level;\n  const difficultyMultiplier = difficultyLevelSet[difficultyLevel] || 1.0; // 默认值1.0\n  \n  const finalContribution = baseContribution * difficultyMultiplier;\n  \n  return {\n    skill_id: skillId,\n    difficulty_level: difficultyLevel,\n    difficulty_level_set: difficultyMultiplier,\n    base_contribution: baseContribution,\n    final_contribution: finalContribution\n  };\n});\n\n// 返回结果\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1744
      ],
      "id": "6cc79141-38ca-40fd-9fef-6d16cfc571fc",
      "name": "Code",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7254c111-2bee-4b57-87da-7b3d40f3d305",
              "name": "baseContribution",
              "value": "22",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        1744
      ],
      "id": "c5636d64-9d96-4ee6-863c-ef8752a4a6cb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// 获取第一个Code节点的所有输出项（finalContribution计算结果）\nconst contributionItems = $('Code').all();\n\n// 获取现有skills数据 - 根据你的数据结构\nlet existingSkills = [];\ntry {\n  existingSkills = $('Edit Fields').first().json.body.eventLoad.eventData.skills || [];\n} catch (error) {\n  console.log('获取现有技能数据失败，使用空数组', error.message);\n}\n\n// 确保existingSkills是数组\nif (!Array.isArray(existingSkills)) {\n  existingSkills = [];\n}\n\n// 定义分数到等级的映射函数\nfunction getSkillLevel(score) {\n  if (score >= 90) return \"精通\";\n  if (score >= 80) return \"掌握\";\n  if (score >= 70) return \"熟练\";\n  if (score >= 50) return \"了解\";\n  return \"入门\";\n}\n\n// 复制现有技能数据，避免直接修改原数据\nlet updatedSkills = [...existingSkills];\n\n// 遍历所有contribution项目\ncontributionItems.forEach(item => {\n  if (!item || !item.json) return;\n  \n  const skillId = item.json.skill_id;\n  const finalContribution = item.json.final_contribution;\n  \n  if (!skillId || finalContribution === undefined) return;\n  \n  // 查找用户是否已有该技能\n  const existingSkillIndex = updatedSkills.findIndex(skill => \n    skill && skill.skill_id === skillId\n  );\n  \n  if (existingSkillIndex >= 0) {\n    // 已有技能，更新分数（相加）\n    const currentScore = parseInt(updatedSkills[existingSkillIndex].score) || 0;\n    const newScore = Math.min(100, currentScore + parseInt(finalContribution));\n    updatedSkills[existingSkillIndex].score = newScore;\n    updatedSkills[existingSkillIndex].level = getSkillLevel(newScore);\n    console.log(`更新skill ${skillId}: ${currentScore} + ${finalContribution} = ${newScore}`);\n  } else {\n    // 新技能，添加到技能列表\n    const newScore = parseInt(finalContribution) || 0;\n    const newSkill = {\n      skill_id: skillId,\n      score: newScore,\n      level: getSkillLevel(newScore)\n    };\n    updatedSkills.push(newSkill);\n    console.log(`新增skill ${skillId}: score = ${newScore}`);\n  }\n});\n\n// 返回更新后的数据，保持原有格式\nreturn {\n  skills: updatedSkills\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        1648
      ],
      "id": "e72ee1de-30d0-412e-ac1d-2fc8b6b71d05",
      "name": "更新能力画像",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"code\": 0,\n  \"msg\": \"success\",\n  \"data\": {\n    \"user_id\": {{ $('Webhook').first().json.body.eventLoad.eventData.user_id }},\n    \"skills\": {{ $json.skills }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1552
      ],
      "id": "383f4b81-3724-4805-8ba9-7aeaf7b87d5b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cbc4b69-c830-4143-b586-72ee446c3651",
              "leftValue": "={{ $json.body.eventLoad.eventData.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5b487fda-d7ca-4ee0-8c33-ca7725cc44d0",
              "leftValue": "={{ $json.body.eventLoad.eventData.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        1840
      ],
      "id": "bd573381-0863-4ce7-9b87-eca553c68548",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b1b149d-e9a0-4f9b-bc09-bbf6dfabb3df",
              "leftValue": "={{ $json.body.eventLoad.eventData.skills }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        1744
      ],
      "id": "840e9b66-c126-449f-9cb9-c9ea7bd754eb",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: 'skills' field cannot be empty.\",\n  \"data\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        2128
      ],
      "id": "b0aee18f-2287-403e-bf49-a4846e495ddb",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2667722-c4c7-426d-b8f4-7bc58279e1bf",
              "leftValue": "={{ $json.body.eventLoad.eventData.course }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b2bd8a2c-35f4-4eb9-90e3-4dd06d52a001",
              "leftValue": "={{ $json.body.eventLoad.eventData.course }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        1648
      ],
      "id": "a2109a6a-9070-42b9-a002-92199e3ef183",
      "name": "If3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: 'course' field cannot be empty.\",\n  \"data\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1360
      ],
      "id": "993405b3-a8e3-4e07-a08e-f889c5819e20",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        1936
      ],
      "id": "78e7ecb7-c681-406a-ae66-47360cd015a5",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"code\": 40001,\n  \"msg\": \"Request parameter error: 'user_id' field cannot be empty.\",\n  \"data\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        2320
      ],
      "id": "ddfbcff6-1864-4aaa-97a9-85ab0753ce76",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"code\": 50201,\n  \"msg\": \"{{ $json.error }}\",\n  \"data\": null\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1936
      ],
      "id": "58576e0a-12aa-40d0-8b40-b4df3409d005",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"code\": 50201,\n  \"msg\": \"{{ $json.error }}\",\n  \"data\": null\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1744
      ],
      "id": "1c0aa2d4-a4b4-4eb8-8686-0b69b9a7a94e",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, application/yaml, application/*+json",
            "content-type": "application/json",
            "root": "123456",
            "user-agent": "Java/21.0.2",
            "host": "10.7.10.203:5678",
            "connection": "keep-alive",
            "content-length": "518"
          },
          "params": {},
          "query": {},
          "body": {
            "meta": {
              "caller": "Learning-Center-API",
              "requestId": "e4deb063-21d8-45d7-9199-67c11957891b",
              "timestamp": 1753952325690
            },
            "eventLoad": {
              "eventData": {
                "skills": [
                  {
                    "score": 25,
                    "level": "入门",
                    "skill_id": 14
                  },
                  {
                    "score": 23,
                    "level": "入门",
                    "skill_id": 18
                  },
                  {
                    "score": 22,
                    "level": "入门",
                    "skill_id": 21
                  },
                  {
                    "score": 23,
                    "level": "入门",
                    "skill_id": 22
                  },
                  {
                    "score": 22,
                    "level": "入门",
                    "skill_id": 10
                  },
                  {
                    "score": 21,
                    "level": "入门",
                    "skill_id": 112
                  },
                  {
                    "score": 21,
                    "level": "入门",
                    "skill_id": 115
                  }
                ],
                "user_id": 1,
                "course": [
                  {
                    "level": 3,
                    "skill_id": "32"
                  }
                ]
              }
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/api/v1/learning-resource/Course",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "更新能力画像",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新能力画像": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a806c89c-ef86-46e1-b4ee-5fc3e50572ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f20e4a9b84cf8634965bffd203a040709c991e2d3fae59cd033f553a5515944"
  },
  "id": "TQPCkd8YwpKeBQ7J",
  "tags": []
}